/* Базовый "обнуляющий" стиль */
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	scroll-behavior: smooth;
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none}
img{vertical-align: top}

h1,h2,h3,h4,h5,h6{font-size:inherit,font-weight: 400;}

/* Основной CSS */
.body{
	min-height: 100%;
	min-width: 100%;
	background-color: silver;
}
.main{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}
.matrix{
	background-color: lightcoral;
	flex-basis: 65%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}
.matrix-l{
	flex-basis: 5%;
	max-width: 30px;
	min-height: 100%;
	margin: auto;     
	width: 0;
	padding: 0 10px;
	word-break: break-all;
}
.matrix-s{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	align-items: baseline;
}
.matrix-header{
	flex-basis: 100%;
	max-height: 30px;
}
.matrix-header a{
	padding-inline: 15%;
}
.block-a{
	flex-basis: 50%;
	min-width: 300px;
	min-height: 250px;
	border: 2px solid bisque;
}
.block-b{
	flex-basis: 50%;
	min-width: 300px;
	min-height: 250px;
	border: 2px solid bisque;
}
.block-c{
	flex-basis: 50%;
	min-width: 300px;
	min-height: 250px;
	border: 2px solid bisque;
}
.block-d{
	flex-basis: 50%;
	min-width: 300px;
	min-height: 250px;
	border: 2px solid bisque;
}
.card{
	background-color: wheat;
	flex-basis: 35%;
	min-height: 510px;
}